<footer>
	<hr size="3">
	{% if site.twitter_username %}
	<div class="top-rounded-panel grey-bg">
			<h1>Social media:</h1>
		</div>
		<p><a target='_blank' href="https://twitter.com/{{site.twitter_username}}">@{{site.twitter_username}}</a></p>
		<p><a target='_blank' href="https://www.linkedin.com/in/{{site.linkedin_username}}">/in/{{site.linkedin_username}}</a></p>
		<p><a target='_blank' href="https://facebook.com/{{site.facebook_username}}">{{site.facebook_username}}</a></p>
	<div class="top-rounded-panel grey-bg">
			<h1>Repozytoria:</h1>
		</div>
		<p><a target='_blank' href="https://www.github.com/{{site.github_username}}">github</a></p>
	{% endif %}
	<br>
</footer>
