<footer>
	<hr size="3">
	{% if site.twitter_username %}
	<!--<img src="./img/badge.jpg" width="150" height="200">-->
	<div class="top-rounded-panel grey-bg">
			<h1>Contact:</h1>
		</div> 
		<p>piotr.prochnicki@gmail.com</p>
		<p><a target='_blank' href="https://useme.com/pl/roles/contractor/{{site.hobby_username}}">Commissions</a></p>
	<div class="top-rounded-panel grey-bg">
			<h1>Social media:</h1>
		</div>
		<p><a target='_blank' href="https://www.linkedin.com/in/{{site.linkedin_username}}">Linkedin</a></p>
		<p><a target='_blank' href="https://twitter.com/{{site.twitter_username}}">X</a></p>
		<p><a target='_blank' href="https://facebook.com/{{site.facebook_username}}">Facebook</a></p>
		<p><a target='_blank' href="https://instagram.com/{{site.instagram_username}}">Instagram</a></p>
	<div class="top-rounded-panel grey-bg">
			<h1>Repositories:</h1>
		</div>
		<p><a target='_blank' href="https://www.github.com/{{site.github_username}}">github</a></p>
		<p><a target='_blank' href="https://www.gitlab.com/{{site.gitlab_username}}">gitlab</a></p>
		<p><a target='_blank' href="https://hub.docker.com/u/{{site.dockerhub_username}}">DockerHub</a></p>
	{% endif %}
	<br>
</footer>
