<footer>
	<hr size="3">
	{% if site.twitter_username %}
	<link rel="icon" type="image/jpg" href="./img/badge.jpg">
	<div class="top-rounded-panel grey-bg">
			<h1>Social media:</h1>
		</div>
		<p><a target='_blank' href="https://www.linkedin.com/in/{{site.linkedin_username}}">Linkedin</a></p>
		<p><a target='_blank' href="https://twitter.com/{{site.twitter_username}}">Twitter</a></p>
		<p><a target='_blank' href="https://facebook.com/{{site.facebook_username}}">Facebook</a></p>
	<div class="top-rounded-panel grey-bg">
			<h1>Repozytoria:</h1>
		</div>
		<p><a target='_blank' href="https://www.github.com/{{site.github_username}}">github</a></p>
	{% endif %}
	<br>
</footer>
