<!doctype html><html><meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
    img{
    height:5cm;
    }
    </style>
</head><body>

    <div class="container">
        <div class="jumbotron">
        <center><h1>Ikigai</h1></center>
    <center><img src="img/ikigai.jpeg
"></center>
    </div>
        <div class="row">
            <div class="col-sm-4">
    <h3>Vocation:</h3><img src="img/vocation/300383731_634018241627319_7641052640827716777_n.jpg
">
<img src="img/vocation/302672219_8542194315851237_3242382867194866719_n.jpg
">
<img src="img/vocation/Poster2.jpg
">
       </div>
            <div class="col-sm-4">
    <h3>Profession:</h3><img src="img/profession/299136508_368557565465503_3395849351459301054_job.jpg
">
<img src="img/profession/299212188_1982271191971481_8796835251793984212_n.jpg
">
<img src="img/profession/inspiration1.jpg
">
   </div>
        <div class="col-sm-4">
    <h3>Passion:</h3><img src="img/passion/296725853_813033946704142_3622446268712721418_n.jpg
">
<img src="img/passion/298499820_364803662507560_634677049846463527_n.jpg
">
<img src="img/passion/Path.png
">

    </div>
</div>
</div>>
</body></html>