<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			<br/><br/>
      🌟 IT Engineer with a Mission: From Data Analytics to Cybersecurity
I am an Applied Informatics Engineer (MSc), combining solid technical skills with an exceptionally strong, analytical mindset rooted in my background in Medical Physics. My experience spans IT Support, DevOps (Docker, Linux/Windows), and Data Science (log analysis), providing the perfect bridge to my new focus: Junior Cybersecurity Analyst.

My BIG WHY is protection—not just of systems, but of people. I leverage strategic thinking and precision to detect anomalies and respond to incidents, guided by a culture of respect, empathy, and inclusiveness (zero hostility). My personal mission to support people with disabilities and serious illnesses proves that my dedication to IT Security is driven by a profound ethical motivation.

Goal: To effectively secure infrastructure by utilizing automation and data analysis expertise within a SOC environment.
		</div>
		<br>
	</div>
</div>
